<h1><%= link_to "Rotten Mangoes", movies_path %></h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<%= form_tag movies_path, method: :get do %>
  <h3>Movie Search</h3>
  <div>
    <%= label_tag(:title_or_director, "Title or Director:") %>
    <%= text_field_tag(:title_or_director) %>
  </div>
  <div>
    <%= label_tag(:duration, "Duration:") %>
    <%= select_tag(:duration, 
      options_for_select([
        ["", 0], 
        ["Under 90 minutes", 1], 
        ["Between 90 and 120 minutes", 2], 
        ["Over 120 minutes", 3]
      ])
    ) %>
  </div>
  <div><%= submit_tag("Search") %></div>
<% end %>
<hr>

<%= paginate @movies %>
<%= render partial: "movie", collection: @movies %>