<h1>Admin (user details)</h1>
<hr>
<h4>
  <%= @user.full_name %> | 
  <%= @user.email %> |
  <% if @user.admin? %>
    (admin) |
  <% end %>
  <%= link_to "delete", admin_user_path(@user), method: :delete, confirm: "You sure?" %>
</h4>
<h6>
  Created: <%= @user.created_at %> | 
  Updated: <%= @user.created_at %>
</h6>
<hr>
<%= link_to "Back to all users", admin_users_path %>
<hr>